node_modules
.env
coverage
coverage.json
typechain
typechain-types
types
package-lock.json
local_config.json

#Hardhat files
cache
cache-zk
artifacts
artifacts-zk

#JetBrain
*.iml
.idea
abi/@chainlink
abi/@openzeppelin
abi/@uniswap
abi/contracts

*MyTest.*
*mytest.*

.DS_Store
.vscode
.openzeppelin
deploment_logs
deploments
abi

deployments/
deployments/local
deployments/localhost
deployments/**/*

.history

contracts/hardhat-dependency-compiler/*.**

